name: Postman Test

on:
  pull_request:
    branches:
      - main

jobs:
  postman-test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Run Server
        run: go run . && 
      - name: Run Postman Collection A
        uses: matt-ball/newman-action@master
        with:
          collection: test/collection-a.json